# ==========================
# Python
# ==========================

__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================
# Virtual Environment
# ==========================

venv/

# ==========================
# Git
# ==========================

.git
.gitignore

# ==========================
# IDE
# ==========================

.vscode/
.idea/

# ==========================
# Logs
# ==========================

logs/
*.log

# ==========================
# Testing
# ==========================

tests/
.pytest_cache/

# ==========================
# Build
# ==========================

build/
dist/
*.egg-info/

# ==========================
# Environment Files
# ==========================

.env
.env.*

# ==========================
# OS Files
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Jupyter
# ==========================

.ipynb_checkpoints/

# ==========================
# Docker
# ==========================

docker-compose.yml

# ==========================
# Monitoring Data
# ==========================

monitoring/grafana/data/
postgres-data/

# ==========================
# Documentation
# ==========================

*.pptx
*.pdf
*.docx

# ==========================
# Uploaded Files
# ==========================

uploads/