fastapi
uvicorn[standard]

gradio
sentence-transformers
langchain
langgraph
langsmith
langgraph-checkpoint-postgres
psycopg-binary
openai

sqlalchemy
psycopg2-binary
pgvector

python-dotenv
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]

pandas
numpy

httpx

pytest

pandas
plotly